In [1]:
import pandas as pd
import os
import numpy as np
from datetime import datetime, timedelta

In [4]:
#making pandas dataframe from text with added headers/
#home/zinat/Documents/Research/code/dataset_tsmc2014
#df = pd.read_csv("dataset_tsmc2014\\dataset_TMSC2014_NYC.txt", delimiter = "\t", header=None)#, names=["Case", "Event name", "Time", "unknown text"])

df = pd.read_csv("dataset_tsmc2014/dataset_TSMC2014_TKY.txt", encoding='latin1',delimiter = "\t", header=None, names=["User ID", "Venue ID", "Venue category ID", "Venue category name","Latitude","Longitude", "Timezone offset","UTC Time"])

In [16]:
df

,User ID,Venue category name,Start Time,Event attributes,End Time
0,1541,Cosmetics Shop,2012-04-04 03:17:18+00:00,Venue_ID=4f0fd5a8e4b03856eeb6c8cb;Venue catego...,
1,868,Ramen / Noodle House,2012-04-04 03:22:04+00:00,Venue_ID=4b7b884ff964a5207d662fe3;Venue catego...,
2,114,Convenience Store,2012-04-04 04:12:07+00:00,Venue_ID=4c16fdda96040f477cc473a5;Venue catego...,
3,868,Food & Drink Shop,2012-04-04 04:12:13+00:00,Venue_ID=4c178638c2dfc928651ea869;Venue catego...,
4,1458,Housing Development,2012-04-04 04:18:23+00:00,Venue_ID=4f568309e4b071452e447afe;Venue catego...,
...,...,...,...,...,...
573698,326,Music Venue,2013-02-16 11:34:35+00:00,Venue_ID=4bab3456f964a5204d993ae3;Venue catego...,
573699,853,Train Station,2013-02-16 11:34:53+00:00,Venue_ID=4b559c09f964a520efe827e3;Venue catego...,
573700,1502,Tea Room,2013-02-16 11:34:55+00:00,Venue_ID=5101e81ee4b020384100b0a5;Venue catego...,
573701,408,Fast Food Restaurant,2013-02-16 11:35:17+00:00,Venue_ID=4bbc5648afe1b7134743304b;Venue catego...,
573702,1050,Record Shop,2013-02-16 11:35:29+00:00,Venue_ID=4b5a7486f964a52027c628e3;Venue catego...,

In [6]:
#df['EndDate'] = pd.to_datetime(df['StartDate']) + pd.to_timedelta(df['duration'], unit='s')
#df.drop('StartDate,'duration', axis = 1, inplace = True)

df["Start Time"]=pd.to_datetime(df["UTC Time"])+pd.to_timedelta(df["Timezone offset"], unit='m')

In [7]:
df["Venue ID"]="Venue_ID="+df["Venue ID"].astype(str)

In [8]:
df["Venue category ID"]="Venue category ID="+df["Venue category ID"].astype(str)

In [9]:
df["Event attributes"]=df["Venue ID"].astype(str) +";"+ df["Venue category ID"].astype(str)

In [10]:
df["Event attributes"]

0         Venue_ID=4f0fd5a8e4b03856eeb6c8cb;Venue catego...
1         Venue_ID=4b7b884ff964a5207d662fe3;Venue catego...
2         Venue_ID=4c16fdda96040f477cc473a5;Venue catego...
3         Venue_ID=4c178638c2dfc928651ea869;Venue catego...
4         Venue_ID=4f568309e4b071452e447afe;Venue catego...
                                ...
573698    Venue_ID=4bab3456f964a5204d993ae3;Venue catego...
573699    Venue_ID=4b559c09f964a520efe827e3;Venue catego...
573700    Venue_ID=5101e81ee4b020384100b0a5;Venue catego...
573701    Venue_ID=4bbc5648afe1b7134743304b;Venue catego...
573702    Venue_ID=4b5a7486f964a52027c628e3;Venue catego...
Name: Event attributes, Length: 573703, dtype: object

In [11]:
df=df.drop(columns=["Venue ID", "Venue category ID", "Latitude","Longitude", "Timezone offset","UTC Time"])

In [12]:
df["End Time"]=""

In [13]:
df

,User ID,Venue category name,Start Time,Event attributes,End Time
0,1541,Cosmetics Shop,2012-04-04 03:17:18+00:00,Venue_ID=4f0fd5a8e4b03856eeb6c8cb;Venue catego...,
1,868,Ramen / Noodle House,2012-04-04 03:22:04+00:00,Venue_ID=4b7b884ff964a5207d662fe3;Venue catego...,
2,114,Convenience Store,2012-04-04 04:12:07+00:00,Venue_ID=4c16fdda96040f477cc473a5;Venue catego...,
3,868,Food & Drink Shop,2012-04-04 04:12:13+00:00,Venue_ID=4c178638c2dfc928651ea869;Venue catego...,
4,1458,Housing Development,2012-04-04 04:18:23+00:00,Venue_ID=4f568309e4b071452e447afe;Venue catego...,
...,...,...,...,...,...
573698,326,Music Venue,2013-02-16 11:34:35+00:00,Venue_ID=4bab3456f964a5204d993ae3;Venue catego...,
573699,853,Train Station,2013-02-16 11:34:53+00:00,Venue_ID=4b559c09f964a520efe827e3;Venue catego...,
573700,1502,Tea Room,2013-02-16 11:34:55+00:00,Venue_ID=5101e81ee4b020384100b0a5;Venue catego...,
573701,408,Fast Food Restaurant,2013-02-16 11:35:17+00:00,Venue_ID=4bbc5648afe1b7134743304b;Venue catego...,
573702,1050,Record Shop,2013-02-16 11:35:29+00:00,Venue_ID=4b5a7486f964a52027c628e3;Venue catego...,

In [14]:
order=[0,1,2,4,3]
df[df.columns[order]]

,User ID,Venue category name,Start Time,End Time,Event attributes
0,1541,Cosmetics Shop,2012-04-04 03:17:18+00:00,,Venue_ID=4f0fd5a8e4b03856eeb6c8cb;Venue catego...
1,868,Ramen / Noodle House,2012-04-04 03:22:04+00:00,,Venue_ID=4b7b884ff964a5207d662fe3;Venue catego...
2,114,Convenience Store,2012-04-04 04:12:07+00:00,,Venue_ID=4c16fdda96040f477cc473a5;Venue catego...
3,868,Food & Drink Shop,2012-04-04 04:12:13+00:00,,Venue_ID=4c178638c2dfc928651ea869;Venue catego...
4,1458,Housing Development,2012-04-04 04:18:23+00:00,,Venue_ID=4f568309e4b071452e447afe;Venue catego...
...,...,...,...,...,...
573698,326,Music Venue,2013-02-16 11:34:35+00:00,,Venue_ID=4bab3456f964a5204d993ae3;Venue catego...
573699,853,Train Station,2013-02-16 11:34:53+00:00,,Venue_ID=4b559c09f964a520efe827e3;Venue catego...
573700,1502,Tea Room,2013-02-16 11:34:55+00:00,,Venue_ID=5101e81ee4b020384100b0a5;Venue catego...
573701,408,Fast Food Restaurant,2013-02-16 11:35:17+00:00,,Venue_ID=4bbc5648afe1b7134743304b;Venue catego...
573702,1050,Record Shop,2013-02-16 11:35:29+00:00,,Venue_ID=4b5a7486f964a52027c628e3;Venue catego...

In [15]:
df.to_csv("TKY.txt",sep='\t', index=False, header=False)

In [34]:
df["Venue category name"]="Venue category name="+df["Venue category name"].astype(str)